<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../css/style.css"><!--Подгрузка css файла-->
        <style media="screen">
            body {background: RGB(98,98,98)}
             a{color:white;font-size:14pt;margin-right:10px;}
        </style>

    </head>
    <body>
        <nav class="menu"> <!--добавляет точки-->
            <!--Ссылка на индекс "#nameindex"; ссылка на родительский элемент каталога "../name page"-->
            <ul>
                <li><a href="../1st_page_Menu.html">На главную страницу</a></li>
                <li><a href="../GIT/git.html">GIT</a></li>
                <li><a href="#">JavaScript</a></li>
                <li> <div id="hrefimage" style="float:right"> <!--добавляет точки-->
                     <!--Ссылка на индекс "#nameindex"; ссылка на родительский элемент каталога "../name page"-->
                     <a href="../2st_Homework/login.html">Авторизация</a>
                     <a href="../2st_Homework/registration.html">Регистрация</a>
                 </div> </li>
                <li></li>
            </ul>
        </nav>

        <img src="../untitled.png"
              height="300px"
              width="300px"
              alt="Альтернативный текст"
        ></img><!--src путь к файлу-->
        <blockquote> HTML (от англ. HyperText Markup Language — «язык гипертекстовой разметки») —
            стандартизированный язык разметки документов во Всемирной паутине.
            Большинство веб-страниц содержат описание разметки на языке HTML (или XHTML). Язык HTML
            интерпретируется браузерами; полученный в результате интерпретации форматированный текст
            отображается на экране монитора компьютера или мобильного устройства. Не является языком программирования.
            Язык HTML до 5-й версии определялся как приложение SGML (стандартного обобщённого языка разметки по
            стандарту ISO 8879). Спецификации HTML5 формулируются в терминах DOM (объектной модели документа).
            Язык XHTML является более строгим вариантом HTML, он следует синтаксису XML и является приложением я
            зыка XML в области разметки гипертекста.
            Во всемирной паутине HTML-страницы, как правило, передаются браузерам от сервера по протоколам HTTP или
            HTTPS, в виде простого текста или с использованием шифрования.
        </blockquote>
    </body>
</html>
